<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-text color="primary">
      <h1 style="text-align: center;">{{bible.verses[0].book_name}} </h1>
    </ion-text>
    <ion-text color="secondary">
      <h2 style="text-align: center;">{{bible.verses[0].chapter}}</h2>
    </ion-text>
    <p> <strong>{{bible.verses[0].verse}}</strong> {{bible.verses[0].text}}</p>
    </ion-content>
</div>
